@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Shippori+Antique&display=swap'); 


* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-size: 62.5%;
}

/*HEADER STARTS*/

header {
    height: 55vh;
    background-image: linear-gradient(45deg , #320E75, #5E1ADB, #4D16B5);
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin: 0; padding-bottom: 110px;
    text-align: right;
    border-radius: 0px 0px 48px 48px;
    margin-bottom: 340px;
}

.headset {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(0%, -50%);
}

.titulo-h {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 1%;
    margin-top: 28vh;
}

.titulo-h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: left;
    margin-left: 1%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.header-logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 10px;

}

.nav-list {
    display: inline-block;
}

nav ul {
    display: inline-block;
    list-style: none;
    align-items: center;
}

nav ul li {
    display: inline-block;
    text-align: right;
    font-size: 18px;
    margin: 39px 70px 5px 5px; 
    
}

nav ul li a {
    text-decoration: none;
    text-align: right;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #7b54c4;
    padding: 8px 8px;
    border-radius: 15px;
}

.t-main {
    color: #432678;
    font: bolder 20px 'Lato';
    position: absolute;
    top: 57%;
    margin-left: 20px;
}

.t-main1 {
    font: bold 18px 'Lato';
    position: absolute;
    top: 62%;
    margin-left: 20px;
}

.btn {
    position: absolute;
    top: 78%;
    left: 20px;
    background-color: #fff;
    border: #5E1ADB solid 4px;
    color: #4D16B5;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #5E1ADB;
    color: #fff;
}

/*HEADERS END*/

/*START MAIN*/

#detalhes {
        height: 80vh;
        background-image: linear-gradient(45deg , #320E75, #5F35DE, #4D16B5);
        background-attachment: fixed;
}

.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 2vh);
}


#sobre {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color:  #fff;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    margin-left: 0%;
    margin-top: 2%;
}

#detalhes-img {
    display: flex;
    margin-top: 15%;
    justify-content: space-between;
}

.img1 {
    margin-left: 20%;
    margin-right: 35%;
}

.img2 {
    margin-right: 40%;
}


.txt-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 7vh);
    grid-gap: 20px;
    color: #fff;
}

#liberdade-h {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-left: 30%;
}

#liberdade-p {
    width: 50%;
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6;
    margin-left: 30%;
}

#liberdade-h2 {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-left: 8%;
}

#liberdade-p2 {
    width: 80%;
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    margin-left: 8%;
}

#liberdade-h3 {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-left: 3%;
}

#liberdade-p3 {
    width: 80%;
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
    margin-left: 3%;
}

.fim-main  {
    background-color: #fff;
    border: solid 10px #4D16B5;
    margin: 8vh 1vh 1px 1vh;
}

.contato {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 10vh);
    margin-left: 25%;
}

.contato h1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

    margin-top: 7vh;
    margin-left: 30%;

    font-family: 'Lato', sans-serif;
    font-size: 20px;

}

.contato h3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;

    margin-top: 5vh;

    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.contato h4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;

    margin-top: 5vh;

    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.contato h5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;

    margin-top: 5vh;

    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

section div.mapa {
    position: absolute;
    top: 1350px;
    left: 40px;
    border: #000 solid 2px;

}

section button.sup {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;

    margin-bottom: 2vh;

    border: #4D16B5 solid 5px;
    padding: 10px;
    background-color: #fff;
    color: #4D16B5;
    font-size: 20px;
    border-radius: 8px;

    cursor: pointer;

    transition: 0.6s;
}

.sup:hover {
    background-color: #4D16B5;
    color: #fff;
}

.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
.reveal2 {
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal2.ativo {
    transform: translateY(0px);
    opacity: 1;
}



@media (max-width: 1024px) {
    
    body {
        font-size: 50%;
        width: 100%;
    }

    nav ul li a {
        font-size: 0.8rem;
    }

    .titulo-h {
        font-size: 0.9rem;
        margin-left: 2%;
    }

    .titulo-h3 {
        font-size: 1rem;
        margin-left: 2%;
    }

    .t-main {
        font-size: 1.2rem;
    }

    .t-main1 {
        font-size: 1rem;
        margin-right: 45%;
    }

    .btn {
        font-size: 1rem;
        margin-top: 5vh;
    }

    #detalhes {
        height: 120vh;
    }

    #sobre {
        margin: auto;
        text-align: center;
    }
    
    #detalhes-img {
        display: flexbox;
        margin-top: 0%;
        margin-left: 20px;
        flex-direction: column;
    }

    section #img1 {
        margin-left: 0px;
    }

   .contato {
       display: inline-block;
       font-size: 0.5rem;
       margin-left: 65vh;
   }

   .sup {
       margin-left: 30%;
       margin-top: 2vh;
   }

   .mapa {
       margin-top: 5vh;
   }

}

@media (max-width: 1332px) {

    nav ul li a {
        font-size: 1rem
    }

    .headset {
        top: 58%;
    }

    .img1 {
        margin-left: 20%;
        margin-right: 28%;
    }

    .titulo-h {
        margin-top: 24vh;
    }
}
