@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Shippori+Antique&display=swap'); 

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

header {
    height: 55vh;
    background-image: linear-gradient(45deg , #320E75, #5E1ADB, #4D16B5);
    font-family: 'Lato', sans-serif;
    color: #fff;
    margin: 0; padding-bottom: 110px;
    text-align: right;
    border-radius: 0px 0px 48px 48px;
    margin-bottom: 340px;
}

.headset {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(0%, -50%);
}

.titulo-h {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    position: absolute;
    top: 38%;
    left: 2%;
}

.titulo-h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
    top: 47%;
    left: 2%;

}

.header-logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 10px;

}

.nav-list {
    display: inline-block;
}

nav ul {
    display: inline-block;
    list-style: none;
    align-items: center;
}

nav ul li {
    display: inline-block;
    text-align: right;
    font-size: 18px;
    margin: 39px 70px 5px 5px; 
    
}

nav ul li a {
    text-decoration: none;
    text-align: right;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #7b54c4;
    padding: 8px 8px;
    border-radius: 15px;
}

.t-main {
    color: #432678;
    font: bolder 20px 'Lato';
    position: absolute;
    top: 57%;
    margin-left: 20px;
}

.t-main1 {
    font: bold 18px 'Lato';
    position: absolute;
    top: 62%;
    margin-left: 20px;
}

.btn {
    position: absolute;
    top: 78%;
    left: 20px;
    background-color: #fff;
    border: #5E1ADB solid 4px;
    color: #4D16B5;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
    padding: 4px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #5E1ADB;
    color: #fff;
}

.detalhes {
    display: flex;
}

#sobre {
    position: relative;
    text-align: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #fff;
    overflow: hidden;
    background-color:#8A4FF7;
}

.img1 {
    position: absolute;
    top: 755px;
    left: 930px;

}

.img2 {
    position: absolute;
    top: 755px;
    left: 540px;

}

.img3 {
    position: absolute;
    top: 755px;
    left: 130px;

}

#liberdade-h {
    color: #fff;
    font: bolder 20px 'Lato';
    position: absolute;
    top: 984px;
    left: 130px;
    text-decoration: underline;
}

#liberdade-p {
    color: #fff;
    font: bolder 15px 'Lato';
    position: absolute;
    top: 1015px;
    left: 120px;
    margin-right: 75%;
}
#liberdade-h2 {
    color: #fff;
    text-decoration: underline;
    font: bolder 20px 'Lato';
    position: absolute;
    top: 984px;
    left: 510px;
}

#liberdade-p2 {
    color: #fff;
    font: bolder 15px 'Lato';
    position: absolute;
    top: 1015px;
    left: 537px;
    margin-right: 44%;
}
#liberdade-h3 {
    color: #fff;
    text-decoration: underline;
    font: bolder 20px 'Lato';
    position: absolute;
    top: 984px;
    left: 900px;
}

#liberdade-p3 {
    color: #fff;
    font: bolder 15px 'Lato';
    position: absolute;
    top: 1015px;
    left: 927px;
    margin-right: 14%;
}

section {
    height: 180px;
    background-image: linear-gradient(45deg , #320E75, #5F35DE, #4D16B5);
    background-attachment: fixed;
}

#sobre {
    position: absolute;
    top: 710px;
    left: 600px;

    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #fff;

    background-color: #5F35DE;

}

.cont {
    content: '';
    width: 1320px;
    height: 55%;
    border: #4D16B5 solid 10px;
    margin-left: 15px;
    margin-top: 30px;
    position: absolute;
    top: 1250px;
}

.contato h1 {
    position: absolute;
    top: 1380px;
    left: 800px;

    font-family: 'Lato', sans-serif;
    font-size: 20px;

}

.contato h3 {
    position: absolute;
    top: 1420px;
    left: 550px;

    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.contato h4 {
    position: absolute;
    top: 1480px;
    left: 675px;

    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.contato h5 {
    position: absolute;
    top: 1500px;
    left: 680px;

    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.mapa {
    position: absolute;
    top: 1310px;
    left: 40px;
    border: #000 solid 2px;
}

.sup {
    position: absolute;
    top: 1550px;
    left: 780px;

    border: #4D16B5 solid 5px;
    padding: 10px;
    background-color: #fff;
    color: #4D16B5;
    font-size: 20px;
    border-radius: 8px;

    cursor: pointer;

    transition: 0.6s;
}

.sup:hover {
    background-color: #4D16B5;
    color: #fff;
}

footer {
    display: block;
    background-color: #4D16B5;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin-top: 420px;
}

.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
.reveal2 {
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal2.ativo {
    transform: translateY(0px);
    opacity: 1;
}



/*
@media screen and (min-width: 1440px) {

    #sobre {
        position: absolute;
        top: 95%;
        left: 820px;
    }

    .img1 {
        position: absolute;
        top: 1000px;
        left: 1400px;

    }

    .img2 {
        position: absolute;
        top: 1000px;
        left: 780px;
    }

    .img3 {
        position: absolute;
        top: 1000px;
        left: 200px;
    }

    #liberdade-h {
        position: absolute;
        top: 1240px;
        left: 205px;
    }

    #liberdade-p {
        position: absolute;
        top: 1290px;
        left: 205px;
    }

    #liberdade-h2 {
        position: absolute;
        top: 1240px;
        left: 730px;
    }

    #liberdade-p2 {
        position: absolute;
        top: 1290px;
        left: 770px;
    }

    #liberdade-h3 {
        position: absolute;
        top: 1240px;
        left: 1350px;
    }

    #liberdade-p3 {
        position: absolute;
        top: 1270px;
        left: 1390px;
    }

    .reveal2 {
        transform: translateX(150px);
        opacity: 0;
        transition: all 2s ease;
    }
    
    .reveal2.ativo {
        transform: translateY(0px);
        opacity: 1;
    }
    
    .cont {
        content: '';
        width: 1840px;
        top: 1420px;
        height: 38%;
        border: #4D16B5 solid 10px;
        margin-left: 15px;
        margin-top: 30px;
        position: absolute;
    }
    
    .contato h1 {
        position: absolute;
        top: 1480px;
        left: 1200px;
    
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    
    }
    
    .contato h3 {
        position: absolute;
        top: 1560px;
        left: 950px;
    
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }
    .contato h4 {
        position: absolute;
        top: 1620px;
        left: 1060px;
    
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }
    .contato h5 {
        position: absolute;
        top: 1680px;
        left: 1070px;
    
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }
    
    .sup {
        position: absolute;
        top: 1740px;
        left: 1190px;
    
        border: #4D16B5 solid 5px;
        padding: 10px;
        background-color: #fff;
        color: #4D16B5;
        font-size: 20px;
        border-radius: 8px;
    
        cursor: pointer;
    
        transition: 0.6s;
    }

    .mapa {
        position: absolute;
        top: 1480px;
        left: 40px;
        border: #000 solid 2px;
    }
    

}/*